<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- 网站logo -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icos.ico' %}" />

    <title>{% block title %}{% endblock %}</title>


    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- JQ要在JS之前加载  -->
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

    <!-- bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script> -->
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script> -->
    <!-- 字体图标 -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 自己定义的文件 -->
    <link href="{% static 'base.css' %}" rel="stylesheet" >
    <script src="{% static 'js/slider.js' %}" charset="utf-8"></script>

    {% block link %}{% endblock %}
</head>
<body>
    <!-- 登录与注册 -->
    <div class="modal fade modal-cofig" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                <div class="modal-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist" id="mytab">
                      <li role="presentation" class="active">
                          <a href="#login-tab" aria-controls="home" role="tab" data-toggle="tab">登录</a>
                      </li>
                      <li role="presentation">
                          <a href="#register-tab" aria-controls="profile" role="tab" data-toggle="tab">注册</a>
                      </li>
                    </ul>
                </div>
                <div class="content-cofig">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- 登录 -->
                        <div role="tabpanel" class="tab-pane active" id="login-tab">
                            <form>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                        <input class="form-control" placeholder="用户名/手机/邮箱"></input>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input class="form-control" placeholder="请输入密码"></input>
                                    </div>
                                    <div class="login-desc">
                                        <span class="auto-login"><input type="checkbox">下次自动登录</span>
                                        <a class="forget pull-right" href="#">忘记密码？</a>
                                    </div>
                                    <button type="submit" class="btn btn-danger btn-block">登录</button>
                                </div>
                            </form>
                            <div class="fast-behave">
                                <div class="fast-title">
                                    <span class="line"></span>
                                    <span class="wrap">快速登录</span>
                                    <span class="line"></span>
                                </div>
                                <div class="form-group fast-body">
                                    <a class="fa fa-qq" href="#"></a>
                                    <a class="fa fa-wechat" href="#"></a>
                                    <a class="fa fa-weibo" href="#"></a>
                                    <a class="fa fa-facebook" href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- 注册 -->
                        <div role="tabpanel" class="tab-pane" id="register-tab">
                            <form>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                        <input class="form-control" placeholder="用户名/手机/邮箱"></input>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input class="form-control" placeholder="请输入密码"></input>
                                    </div>
                                    <div class="Sliding">
                                        <div class="outer" id="outer">
                                            <input type="hidden" id="CaptchaID" value="0" />
                                            <div class="filter-box"></div>
                                            <span class="txtRoll">
                                                按住滑块，拖拽到最右边
                                            </span>
                                            <div class="inner">&gt;&gt;</div>
                                        </div>
                                        <!-- <input type="button" class="button white bigrounded" value="重置" /> -->
                                        <div style="clear:both;"></div>
                                    </div>
                                    <button type="submit" class="btn btn-danger btn-block">注册</button>
                                    <div class="register-info">
                                        注册表示您已经同意我们的<a href="#">隐私条款</a>
                                    </div>
                                </div>
                            </form>
                            <div class="fast-behave">
                                <div class="fast-title">
                                    <span class="line"></span>
                                    <span class="wrap">快速注册</span>
                                    <span class="line"></span>
                                </div>
                                <div class="form-group fast-body">
                                    <a class="fa fa-qq" href="#"></a>
                                    <a class="fa fa-wechat" href="#"></a>
                                    <a class="fa fa-weibo" href="#"></a>
                                    <a class="fa fa-facebook" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--导航条-->
    <div id="navbar-base" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="pad" class="navbar-brand" href="{% url 'home' %}">
                    liuya'blog
                </a>


                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-extend">
                    <li class="{% block nav_home_active %}{% endblock %}">
                        <a id="pad" href="{% url 'home' %}">
                            <span class="glyphicon glyphicon-leaf"></span>&nbsp;index</a>
                    </li>
                    <li class="{% block nav_TS_active %}{% endblock %}">
                        <a id="pad" href="{% url 'blog_list' %}">
                            <i class="fa fa-hashtag"></i>&nbsp;Technology Stack</a>
                    </li>
                    <li class="{% block nav_in_active %}{% endblock %}">
                        <a id="pad" href="{% url 'blog_list' %}">
                            <i class="fa fa-lightbulb-o"></i>&nbsp;idea·notes</a>
                    </li>
                    <li class="{% block nav_Share_active %}{% endblock %}">
                        <a id="pad" href="{% url 'blog_list' %}">
                            <i class="fa fa-share-alt-square"></i>&nbsp;Share</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-extend" id="mylogin">
                    <li>
                        <a data-toggle="modal" href="#login">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;login
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#login">
                            <span class="glyphicon glyphicon-inbox"></span> &nbsp;register
                        </a>
                    </li>
                    <!-- <li><a id="pad" class="fa fa-sign-in" href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</a>
                    </li>
                    <li><a id="pad" class="fa fa-id-card" href="{% url 'register' %}">
                    <span class="glyphicon glyphicon-inbox"></span> &nbsp;注册</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    {% include "menu.html" %}
    <!-- <div style="margin-top: 80px!important;"></div> -->
    {% block content %}{% endblock %}

    {% block script %}{% endblock %}
    <script>
            $("#mylogin a:first").click(function(){
                $(this).attr('href','#login')
                $('#mytab a:first').tab('show')
            })
            $("#mylogin a:last").click(function(){
                $(this).attr('href','#login')
                $('#mytab a:last').tab('show')
            })
    </script>
    <div class="empty-line"></div>
    <div class="CopyR">
        <div class="footer">
            <p>CopyRight&copy;2017-2018·EVIC个人博客·记录·生活·学习</p>
        </div>
    </div>
</body>
</html>
