<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static 'base.css' %}" rel="stylesheet" >

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- JQ要在JS之前加载  -->
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    
    {% block link %}{% endblock %}
</head>
<body>
    <!--导航条-->
    <div id="navbar-base" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="pad" class="navbar-brand" href="http://liuya.pythonanywhere.com/">
                    EVIC个人博客网站
                </a>
            
            
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-extend">
                    <li class="{% block nav_home_active %}{% endblock %}">
                        <a id="pad" class="fa fa-home" href="{% url 'home' %}"> 
                            <span class="glyphicon glyphicon-leaf"></span>&nbsp;首页</a>
                    </li>
                    <li class="{% block nav_blog_active %}{% endblock %}">
                        <a id="pad" class="fa fa-pencil" href="{% url 'blog_list' %}"> 
                            <span class="glyphicon glyphicon-align-left"></span>&nbsp;博客</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-extend">
                    <li><a id="pad" class="fa fa-sign-in" href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</a>
                    </li>
                    <li><a id="pad" class="fa fa-id-card" href="{% url 'register' %}">
                    <span class="glyphicon glyphicon-inbox"></span> &nbsp;注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
    
    <div class="empty-line"></div>
    <div class="CopyR">
        <div class="footer">
            <p>CopyRight&copy; EVIC个人博客·记录·生活·学习</p>
        </div>
    </div>
</body>
</html>
