<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>EVIC|首页</title>
    {% load staticfiles %}
    <!-- <link href="{% static 'base.css' %}" rel="stylesheet" > -->

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- JQ要在JS之前加载  -->
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
</head>
<body>
    <!--导航条-->
    <div id="navbar-base" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="http://liuya.pythonanywhere.com/">
                    <img src="{% static 'images/hhh02.png' %}" height="61px">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </a>
            
            
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-extend">
                    <li class="active">
                        <a id="pad" class="fa fa-home" href="{% url 'home' %}"> 
                            <span class="glyphicon glyphicon-leaf"></span>&nbsp;首页</a>
                    </li>
                    <li><a id="pad" class="fa fa-pencil" href="{% url 'blog_list' %}"> 
                            <span class="glyphicon glyphicon-align-left"></span>&nbsp;博客</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-extend">
                    <li><a id="pad" class="fa fa-sign-in" href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</a>
                    </li>
                    <li><a id="pad" class="fa fa-id-card" href="{% url 'register' %}">
                    <span class="glyphicon glyphicon-inbox"></span> &nbsp;注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--固定背景图和上面的文本-->
    <div id="background-content">
        <div class="landing-text">
            <h1>以努力对抗庸常</h1>
            <a href="#">还有想见的人和很多想做的事></a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="data-statistics"><h1>网站流量数据</h1></div>
            </div>
        </div>
    
        
        <div class="row" >
            <div class="col-md-5 col-md-offset-1">
                <!-- 图表容器 DOM -->
                <div id="container"></div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div>
                  <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                七天热门阅读
                            </a>
                        </li>
                        <li role="presentation" >
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                今日热门阅读
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                昨日热门阅读
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="home">
                            <ul>
                                {% for today_data in today_read_data %}
                                    <li>
                                        <a href="{% url 'blog_detail' today_data.content_object.id %}">
                                            {{ today_data.content_object.title }}
                                        </a>
                                        ({{ today_data.read_num }})
                                    </li>
                                {% empty %}
                                    <h4>今日暂无阅读</h4>
                                {% endfor %}
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <h3>--故障中--</h3>
                        </div>
                        <div role="tabpanel" class="tab-pane fade active in" id="messages">
                            <ul>
                                {% for data_for_7_day in data_for_7_days %}
                                    <li>
                                        <a href="{% url 'blog_detail' data_for_7_day.id %}">
                                            {{ data_for_7_day.title }}
                                        </a>
                                        ({{ data_for_7_day.read_num_sum }})
                                    </li>
                                {% empty %}
                                    <h4>7日暂无阅读</h4>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="empty-line"></div>
    <!-- Foot -->
    <div class="CopyR">
        <div class="CopyRT">
            <div class="CopyRTC">
                <div class="CopyRTCT">
                    <p><span>EVIC个人博客&nbsp;&nbsp;&nbsp;&nbsp;</span>囿于昼夜、厨房与爱</p>
                </div>

                <div>
                    <div class="CopyRTCLL">
                        <p>制作：EVIC/liuya</p>
                        <br>
                        <p>联系邮箱：bluebliss@foxmail.com</p>
                        <br>
                        
                    </div>
                    <div class="CopyRTCLC">
                        <p>Contact&nbsp;&nbsp;<span>制作中...</span></p>
                    </div>
                    <div class="CopyRTCLR">
                        <img src="{% static 'images/WXH.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>CopyRight&copy; EVIC个人博客·记录·生活·学习</p>
        </div>
    </div>

    <script>
        // 图表配置
        var options = {
            chart: {type: 'line'},                         //指定图表的类型，默认是折线图（line）
            title: {text: null},                // 标题
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement:'on',       //标记在点上
            },
            yAxis: {
                title: { text: null },         // y 轴标题
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '7日阅读量',                        // 数据列名
                data: {{ read_nums }} ,                    // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
                lengend:{ enabled:false },
                credits:{ enabled:false },          
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>

</body>
</html>

