{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}EVIC|首页{% endblock %}
{% block nav_home_active %}active{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}


    <!-- 网站阅读记录模态框 -->
    <div class="modal fade" id="readstatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- 图表容器 DOM -->
                <div id="container" style="width: 600px;height:400px;"></div>
                <!-- 引入 highcharts.js -->
                <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
                <script>
                    // 图表配置
                    var options = {
                        chart: {type: 'line'},         //指定图表的类型，默认是折线图（line）
                        title: {text: null},           // 标题
                        xAxis: {
                            categories: {{ dates|safe }},   // x 轴分类
                            tickmarkPlacement:'on',       //标记在点上
                        },
                        yAxis: {
                            title: { text: null },         // y 轴标题
                            labels:{ enabled: false },
                            gridLineDashStyle: 'Dash',
                        },
                        series: [{                              // 数据列
                            name: '7日阅读量',                        // 数据列名
                            data: {{ read_nums }} ,                    // 数据
                        }],
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                            lengend:{ enabled:false },
                            credits:{ enabled:false },    // 消除右下角水印
                    };
                    // 图表初始化函数
                    var chart = Highcharts.chart('container', options);
                </script>
            </div>
        </div>
    </div>

    <!-- 文章模态框 -->

    <!-- <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-title" id="myModalLabel">
                    <div class="blog-detail-title"><h1>{{ blog.title }}</h1></div>
                    <ul class="blog-info-description">
                        <li>{{ blog.created_time|date:"Y-m-d" }}</li><span>·</span>
                        <li>{{ blog.author }}</li><span>·</span>
                        <li>
                            <a href="{#{% url 'blog_with_type' blog.blog_type %}"># {{ blog.blog_type }}#}</a>
                        </li><span>·</span>
                        <li><i class="fa fa-eye"></i>&nbsp;{{ blog.get_read_num }}</li><span>·</span>
                        <li><a href="#"><i class="fa fa-commenting"></i>&nbsp;需要补充评论数</a></li>
                    </ul>
                    <hr>
                </div>
             </div>
             <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
      </div>
    </div>
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contentModal"> -->
        <!-- Launch demo modal -->
    <!-- </button>  -->


    <div class="container">
        <div class="row">
            <!-- 左侧用户信息 -->
            <div class="hidden-xs col-sm-3">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1">
                        <img src="{% static 'images/img.jpg' %}" class="img-circle">
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-calendar-minus-o" title="网站阅读记录 使用有格式的弹出框..Unfinished"></i>
                        <a data-toggle="modal" data-target="#readstatusModal">

                            <i class="fa fa-clone glyphicon glyphicon-option-vertical"
                                  data-toggle="tooltip"
                                  data-placement="top" title="七日阅读记录">
                            </i>

                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-11"><center><h1>@liuya/EVIC</h1></center></div>
                </div>
                <ul class="user-info col-sm-offset-1">
                    <li><i class="fa fa-envelope-o"></i><a>bluebliss@foxmail.com</a></li>
                    <li><i class="fa fa-github"></i><a href="https://github.com/E-L-33">github</a></li>
                    <li>
                        <i class="fa fa-address-card-o"></i>
                        <a href="#"><span>C</span>urriculum <span>V</span>itae</a>
                    </li>
                    <li><i class="fa fa-flag"></i><a>ShenZhen China</a></li>
                    <li>
                        <span class="label label-primary">Django</span>+
                        <span class="label label-success">Bootstrap</span>+
                        <span class="label label-warning">Vue</span>搭建
                    </li>
                </ul>
            </div>

            <!-- 正中文章列表 -->
            <div class="col-xs-12 col-sm-6">
                <!-- 怎么能让它在xs时显示   而其他的就隐藏 -->
                <!-- <form class="search-bar col-sx-12">
                    <input type="search" class="form-control" placeholder="Search articles">
                </form> -->
                <div class="news-list">
                    {% for blog in page_of_blogs %}
                    <div class="news-list-item clearfix">
                        <div class="article-info">
                            <span class="title">
                                <a href="{% url 'blog_with_type' blog.blog_type %}">
                                    <span class="label label-info pull-left" style="font-size:17px;">{{ blog.blog_type }}</span>
                                </a>
                                <a href="{% url 'blog_detail' blog.pk %}">
                                    <h3>&nbsp;&nbsp;{{ blog.title }}</h3>
                                    <!-- !!!! -->
                                </a>
                            </span>
                            <a href="{% url 'blog_detail' blog.pk %}">
                                <p>{{ blog.content|striptags|truncatechars:80|safe }}</p>
                                <!-- !!!! -->
                            </a>
                            <div class="info-home">
                                <span><span class="avatar"><img src="{% static 'images/hhh02.png' %}"></span>{{ blog.author }}</span>⋅
                                <i class="fa fa-commenting"></i>&nbsp;需要补充评论数⋅
                                <span>{{ blog.created_time|date:"Y-m-d H:i:s" }}</span>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <h1>-- 暂无博客，敬请期待 --</h1>
                    {% endfor %}
                </div>

                <!-- 分页导航 -->
                <div class="paginator" aria-label="Page navigation">
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>

                        {# 获取总页码  当前页面页码高亮   判断"..."不可点击#}
                        {% for page_num in better_paginator %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                            {% else %}
                                {% if page_num == "..." %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {# 下一页 #}
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                  </ul>
                </div>
            </div>

            <!-- 右侧分类导航 -->
            <div class="hidden-xs col-sm-3">
                <form class="search-bar">
                    <input type="search" class="form-control" placeholder="Search articles">
                </form>

                <div class="right-card flag clearfix">
                    <!-- 这里需要清除浮动,不然背景色出不来 -->
                    <div class="card-body">
                        <div class="col-xs-5">
                            <a href="{% url 'blog_detail' 40 %}">
                                <img src="{% static 'images/hhh02.png' %}" alt="message">
                            </a>
                        </div>
                        <div class="col-xs-7">
                            <div class="body-title">-你今天总结了吗</div>
                            <div>-没有???还不<a href="{% url 'blog_detail' 50 %}">快去</a></div>
                        </div>
                    </div>
                </div>

                <div class="right-card">
                    <div class="card-title">Hot Seven</div>
                    <div class="card-body">
                        <div class="list-item">
                            <a href="#" class="link">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</a>
                            <div class="desc">12k浏览⋅347评论</div>
                        </div>
                    </div>
                </div>

                <div class="right-card">
                    <div class="card-title">Key word</div>
                    <div class="card-body">
                        <div class="list-item">
                            <a href="#" class="link">word cloud,Unfinished</a>
                            <!-- <div class="desc">12k浏览⋅347评论</div> -->
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">博客分类</div>
                    <!--<div class="panel-body">-->
                        <ul class="blog-types list-group">
                            {% for blog_type in blog_types %}
                                <li class="list-group-item">
                                    <span class="badge">{{ blog_type.blog_count }}</span>
                                    <a href="{% url 'blog_with_type' blog_type.type_name %}">
                                        {{ blog_type.type_name }}
                                    </a>
                                </li>
                            {% empty %}     <!-- 值为空时 -->
                                <li>暂无博客，敬请期待</li>
                            {% endfor %}
                        </ul>
                    <!--</div>-->
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">日期归档</div>
                    <!--<div class="panel-body">-->
                        <ul  class="list-group">
                            {% for dates,counts in blog_date.items %}
                                <li class="list-group-item">
                                    <span class="badge">{{ counts }}</span>
                                    <a href="{% url 'blog_with_date' dates.year dates.month %}">
                                        {{ dates|date:"Y年m月" }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>


{% endblock %}
