*{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
#navbar-base {
    margin: 0px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
/*    opacity: 0.5;*/
}
.nav-extend li a{
    color: #000!important;
}
#pad {
    padding: 20px;
    font-size: 18px;
}
a.navbar-brand {
    padding:11px 30px;
}
.fa {

    padding: 20px;
    font-size: 30px;
    color: #5E4485;
    text-decoration: none;
}
.fa:hover{
    color:blue;
}

.home-content{
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;

}

div#container{
    margin:0 auto;
    height:20em;
    min-width: 20em;
    max-width: 40em;
}
div.read_css{
    text-align: center;
    margin-top: 2em;
}
#background-content {
    background: url(../static/images/gz.png) no-repeat center center fixed;
    display: table;
    height: 31em;
    width: 100%;
    position: relative;
    background-size: cover;
    margin-top:0px;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing-text h1 {
    font-size: 444%;
    font-weight: 700;
}
.data-statistics{
    text-align: center;
    margin: 20px 0px 60px;
    padding: 40px 0px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    text-shadow:2px 2px 33px #000;
}
div.tab-content {
    text-align:center;
}
div.tab-content li{
    list-style-type:none;
    font-size:18px;
    padding: 5% 0px 0px;
}
.overlay {
    background: linear-gradient(to top right, #ccc, #fff);
    margin-top: 10em;
    opacity: 0.9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15em;
}

.empty-line{
    margin-top: 5em;
    margin-bottom: 5em;
    width: 100%;
    height: 1em;
}
/*Foot*/
.CopyR{
    background: #282828;
    height: 300px;
    /*width: 100%;*/
    /*margin: 0;*/
}
.CopyRT{
    background: #282828;
    height: 250px;
    width: 100%;
    margin: 0;
}
.CopyRTC{
    width: 70%;
    height: 100%;
    margin: 0 15% 0 15%;
    /*background: #a7a7a7;*/
}
.CopyRTCT{
    /*background: #7b7b7b;*/
    border-bottom:0.5px solid #ffffff;
}
.CopyRTCT p{
    margin: 0;
    padding: 10px 0 10px 0;
    color: #bbbbbb;
}
.CopyRTCT span{
    font-weight: 900;
    font-size: 30px;
    color: #fefefe;
    /*color: #000；*/
}
.CopyRTCLL{
    width: 31%;
    height: 168px;
    padding: 2% 0 0 1%;
    float: left;
    /*background: #9d9d9d;*/
}
.CopyRTCLL p{
    color: #727272;
    font-size: small;
}
.CopyRTCLC{
    width: 48%;
    height: 168px;
    padding: 2% 0 0 1%;
    float: left;
    /*background: #464646;*/
}
.CopyRTCLC p{
    margin: 0;
    color: #f8f8f8;
}
.CopyRTCLC span{
    color: #a4a4a4;
    font-size: small;
}
.CopyRTCLR{
    width: 18%;
    height: 168px;
    padding: 2% 0 0 1%;
    float: left;
    /*background: #dcdcdc;*/
}
.CopyRTCLR img{
    height: 150px;
}
.footer {
    /*margin-top: 110px;*/
    background: #171717;
    width: 100%;
    /*height: 15vm;*/
    padding: 30px 0 30px 15%;
}
.footer p {
    color: #7f7f7f;
    /*text-align: center;*/
    font-weight: bold;
    font-size: 12px;
    /*font-style: italic;*/
    /*text-transform: uppercase;*/
}

