div.container{
    padding: 0;
}

.user-info li{
    line-height: 2;
}
.user-info li i{
    margin-right: 0.5em;
}
.user-info li a span{
    /* color: #d9534f; */
    color: red;
}

.user-info li::before{
    content: "";
    width: 10px;
    height: 10px;
    top: 9px;
    float: left;
    margin-right: 8px;
    position: relative;
    border: 2px solid #a5a5a5;
    border-radius: 100%;
    display: inline-block;
    background-color: #70e7e5;
}

ul.blog-types{
    list-style-type: none;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 10px solid #dd1f1f;
}
div.blog h3{
    margin-top: 0.5em;
}
div.blog p.blog-info{
    margin-bottom: 0;
}

ul.blog-info-description{
    list-style-type: none;
    /* padding-bottom: 10px;
    border-bottom: 1px solid #99a2aa; */
}
ul.blog-info-description li{
    font-size: 0.6em;
    display: inline-block;
    /* margin-right: 0.6em; */
    color: #999;
}
ul.blog-info-description span{
    margin: 0 0.3em 0 0.3em;
}
ul.blog-info-description li a{
    /* padding: 10px 5px; */
    color: #99a2aa;
}
div.content-detail{
    background: #FFF;
}
div.blog-detail-title h1{
    /* color: #99a2aa; */
    line-height: 1.5;
    font-size: 1.5em;
}
div.blog-content{
    text-indent: 2em; /* 首行缩进 */
}
div.paginator{
    text-align: center;
}
div.blog-comment-detail{
    background: #FFF;
    margin-top: 3em;
}
div.comment-area{
    margin-top: 2em;
    /*border: 1px dashed #ccc;
    padding: 2em;*/
}
h1.comment-area-title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.6em;
}
div.comment-user p,div.comment-user span{
    color: #6d757a;
    font-weight: bold;
}
div.comment-detail{
    /* background: #eee; */
    /* border: 1px solid #cccccc; */
    /* padding: 10px 10px 5px 15px; */
}
div.comment-foot{

}
div.comment-foot span{
    line-height: 26px;
    color: #99a2aa;
    font-size: 0.6em;
    margin-right: 15px;
    /* border-radius: 4px; */
}
div.comment-foot a{
    padding: 10px 5px;
    color: #99a2aa;
}
div.comment-foot a:hover{
    color: #00a1d6;
    background: #e5e9ef;
}
div.django-ckeditor-widget {
    width: 100%;
}
.news-list-item{
    padding: 15px;
    border-bottom: 1px solid #eee;
    background: #FFF;
    margin-bottom: 10px;
}

/* .news-list-item:first-child{
    padding-top: 0;
} */

.news-list-item .title{
    display: block;
    color: #444;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}
.news-list-item a{
    color: #000;
}

.news-list-item a:hover{
    /* color: #d9534f; */
    color: #337ab7;
}


.left-card .l-card-body .l-list-item .slide .carousel-inner .item{
    height: 140px;
}

.carousel-inner .carousel-indicators{
    bottom: 0;
}

.left-card .l-card-body .l-list-item .slide .carousel-inner .item .carousel-caption{
    bottom: 0;
    padding-bottom: 10px;
}

.carousel-inner ol{
    margin-bottom: 0;
}
.left-card .l-card-body .l-list-item .slide .carousel-inner .item img{
    width: 100%;
    height: 140px;
}

.avatar{
    display: inline;
}

.avatar img{
    display: inline;
    weight: 16px;
    height: 16px;
    margin-right: 5px;
}
.info{
    color: #888;
}

.search-bar{
    margin-bottom: 20px;
}

.right-card{
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 10px 0;
}

.flag{
    padding: 20px 0;
}
.right-card .card-title,
.right-card .card-body .list-item{
    padding: 10px 20px;
}

.right-card .card-title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}

.right-card .card-body .list-item .link{
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.right-card .card-body .list-item{
    margin-top: 5px;
}

.right-card .card-body .list-item a:hover{
    color: #337ab7;
}

.right-card .card-body .list-item .desc{
    color: #999;
}

.right-card .card-body .list-item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
