{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ blog.title }} {% endblock %}
{% block nav_blog_active %} active {% endblock %}

{% block link %} 
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}"> 
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-offset-1">
            <h1>{{ blog.title }}</h1>
            <ul class="blog-info-description">
                <li><span class="glyphicon glyphicon-user"></span>&nbsp;{{ blog.author }}</li>
                <li><span class="glyphicon glyphicon-tags"></span>&nbsp;
                    <a href="{% url 'blog_with_type' blog.blog_type %}">{{ blog.blog_type }}</a>
                </li>
                <li><span class="glyphicon glyphicon-time"></span>：{{ blog.created_time|date:"Y-m-d H:n:s" }}</li>
                <li><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>&nbsp;{{ blog.get_read_num }}</li>
            </ul>
            <div class="blog-content">{{ blog.content|safe }}</div>
            <span style="margin-bottom: 2em;">&nbsp;</span>
            <div aria-label="...">
                <ul class="pager">
                    <li class="previous">
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">
                                <span aria-hidden="true">&larr;</span>
                                上一篇：{{ previous_blog.title }}
                            </a>
                        {% else %}
                            <a><span aria-hidden="true">&larr;</span>上一篇：没有啦</a>  
                        {% endif %}    
                    </li>
                    <li class="next">
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">
                                下一篇：{{ next_blog.title }}
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        {% else %}
                            <a>下一篇：没有啦<span aria-hidden="true">&rarr;</span></a>
                        {% endif %}
                    </li> 
                </ul>
            </div>
        </div>
    </div>

    <!-- 评论区域 -->
    <div class="row">
        <div class="col-xs-10 col-offset-1">
            <h3 class="comment-area-title">提交评论区域</h3>
                <div class="comment-area">
                    {% if request.user.is_authenticated %}
                        <form id="comment_form" action="{% url 'submit_comment' %}" method="POST" style="overflow:hidden">
                            {% csrf_token %}
                            <label style="margin-bottom: 0.6em">{{ user.username }}，欢迎评论</label>
                            {% for field in comment_forms %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="评论" class="btn btn-primary" style="float:right">
                        </form>
                    {% else %}
                        <h2>您需要先
                            <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                            <span>或</span>
                            <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                            后方可评论
                        </h2>
                    {% endif %}
                </div>
            
            <h3 class="comment-area-title">评论列表</h3>
                <div class="comment-area">
                    {% for comment in comments %}
                        <div>
                            {{ comment.comment_user }}>>>
                            {{ comment.comment_time }}：
                            {{ comment.comment_text|safe }}
                        </div>
                    {% empty %}
                        <h5>暂无评论</h5>
                    {% endfor %} 
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!--     <script type="text/javascript">
        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }

            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'submit_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        // 插入数据
                        var comment_html = '<div>' + data['username'] + 
                                           ' (' + data['comment_time'] + ')：' + 
                                           data['comment_text'] + '</div>';
                        $("#comment_list").prepend(comment_html);
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }                    
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
    </script> -->
{% endblock %}
