{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}我的网站|文章列表{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">

                <!-- 列表目录 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block blog_list_title %}文章列表(一共有{{page_of_blogs.paginator.count}}篇文章){% endblock %}
                    </div>
                    <div class="panel-body">
                        {% for blog in page_of_blogs %}
                            <a href="{% url 'blog_detail' blog.pk %}">
                                <h3>{{ blog.id }}、{{ blog.title }}</h3>
                            </a>
                            <ul class="blog-info-description">
                                <li><span class="glyphicon glyphicon-user"></span>&nbsp;{{ blog.author }}</li>
                                <li><span class="glyphicon glyphicon-tags"></span>&nbsp;
                                    <a href="{% url 'blog_with_type' blog.blog_type %}">{{ blog.blog_type }}</a>
                                </li>
                                <li><span class="glyphicon glyphicon-time"></span>：{{ blog.created_time|date:"Y-m-d H:n:s" }}</li>
                                <li><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>&nbsp;{{ blog.get_read_num }}</li>
                            </ul>
                            <p>{{ blog.content|striptags|truncatechars:120 }}</p>    
                            <!-- 当字符为英文时将truncatechars改为truncatewords  truncate:截断  striptags过滤文本中的代码显示-->
                        {% empty %}
                            <h1>-- 暂无博客，敬请期待 --</h1>
                        {% endfor %}
                    </div>
                </div> 

                <!-- 分页导航 -->
                <div class="paginator" aria-label="Page navigation">
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>

                        {# 获取总页码  当前页面页码高亮   判断"..."不可点击#}
                        {% for page_num in better_paginator %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                            {% else %}
                                {% if page_num == "..." %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        
                        {# 下一页 #}
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                  </ul>
                </div>
            </div>

            <!-- 右侧分类导航 -->
            <div class="hidden-xs col-sm-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li><a href="{% url 'blog_with_type' blog_type.type_name %}">
                                {{ blog_type.type_name }}({{ blog_type.blog_count }})</a></li>
                            {% empty %}     <!-- 值为空时 -->
                                <li>暂无博客，敬请期待</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul>
                            {% for dates,counts in blog_date.items %}
                                <li>
                                    <a href="{% url 'blog_with_date' dates.year dates.month %}">
                                        {{ dates|date:"Y年m月" }}({{ counts }})
                                    </a>
                                </li>
                            {% endfor %} 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
